:root {
    --clarionBlue: #193B69;
    --clarionGold: #9B8542
}

body {
    padding-top: 5rem;
    background: url("../Images/grunge_wall.png");
}

nav{
    background-color: #193B69;
}

.company-template {
    padding: 3rem 1.5rem;
    text-align: center;
    color: #193b69;
}
.btn-color-clarionBlue{
    background: #193B69;
}
.text-white{
    color: white;
}

nav a{
    color: #FFF;
}
.carousel-inner > .carousel-item > img {
    width:1719px;
    height:700px;
}
.clarion-blue{
    color: #193B69;
}
.clarion-blue-bg{
    background: #193B69;
}
.font-size-large{
    font-size: 30px;
}
.map{
    height: 400px;
    width: 100%;
}
.clickable{
    cursor: pointer;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #193B69;
    color:white;
    width: 100%;
    text-align: center;
}
.checkbox-large{
    height: 1.25rem;
    width: 1.25rem;
}
