:root {
    --clarionBlue: #193B69;
    --clarionGold: #9B8542
}

body {
    padding-top: 5rem;
    background: url("../Images/grunge_wall.png");
}

nav {
    background-color: #193B69;
}

.company-template {
    padding: 3rem 1.5rem;
    text-align: center;
    color: #193b69;
}
.btn-color-clarionBlue{
    background: #193B69;
}
.text-white{
    color: white;
}
}

a {
    color: #FFF;
}
